<%- include ('./partialss/header.ejs') -%>


    <div class="container p-5">
        <%- include ('./partialss/nav.ejs') -%>
            <%- include ('./partialss/main_nav.ejs%>
                <%- include partials/content.ejs%>
                    <%- include partials/botton_nav.ejs%>

    </div>
    <%- include('./partialss/footer.ejs%>